<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide"><img class="swiper-img" src="test.png" alt=""></div>
    <div class="swiper-slide"><img class="swiper-img" src="test.png" alt=""></div>
    <div class="swiper-slide"><img class="swiper-img" src="test.png" alt=""></div>
    <div class="swiper-slide"><img class="swiper-img" src="test.png" alt=""></div>
    <div class="swiper-slide"><img class="swiper-img" src="test.png" alt=""></div>
  </div>
   <div class="swiper-navigation-block">
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>  
   </div>

</div>